.champRecherche {
  display: flex;
}

.boxForm {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  margin: 10px;
}

label.recherche {
  padding: 6px 0;
  font-weight: 700;
}

h1,
.recherche {
  color: #007170;
}
