.champRecherche {
  display: flex;
}

.boxForm {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  margin: 10px;
}

label {
  font-weight: 900;
}

input.researchKey {
  margin: 0;
  width: 40%;
}

h1,
.recherche {
  color: #007170;
}
