.SingleUserShort {
  padding: 1em;
  border: 1px solid #f4f4f4;
  background: #f4f4f4;
  margin-bottom: 2em;
}

.SingleUserShort .card-body {
  padding: 0;
}

.SingleUserShort .card-title {
  padding-bottom: 0;
}

.SingleUserShort p.card-text .badge {
  color: #fff;
  margin-right: 0.5em;
}

.truncate {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.badge-job {
  background-color: #0E2A7F;
}

.badge-sector {
  background-color: #159C00;
}

.badge-keyword {
  background-color: #BC5500;
}

.badge-lang {
  background-color: #BC55BC;
}