/* Temporaire */
.App .btn-primary {
  background-color: #007170;
  border-color: #007170;
}
.App .text-primary {
  color: #007170!important;
}

/* Override WP */
/* .main-wrapper .inner-wrap {
  max-width: 1280px;
} */